<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'books:all_books' %}">Lista książek</a>
<p>{{ book.title }}</p>

<p>{{ book.average_rating }}</p>
<p>{{ book.ratings_count }}</p>
{% for author in authors %}
    <p>{{ author.authors }}</p>
{% endfor %}

{% for category in categories %}
    <p>{{ category.categories }}</p>
{% endfor %}

<form method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="Oceń">
</form>

</body>
</html>